<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý danh bạ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Danh bạ</h1>
    <table>
      <thead>
        <tr>
          <th>STT</th>
                <th><input type="checkbox" id="selectAll"></th>
          <th>Số điện thoại</th>
          <th>Tên</th>
          <th>Chỉnh sửa</th>
        </tr>
      </thead>

      <tbody>
        {% for vcard in vcards %}
        <tr>
          <td>{{ loop.index }}</td>
                <td><input type="checkbox" class="selectRow"></td>
          <td>{{ vcard.name }}</td>
          <td>{{ vcard.email }}</td>
          <td class="actions">
            <button onclick="editNumber('{{ number }}')">Edit</button>
            <button onclick="deleteNumber('{{ number }}')">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



<script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
