body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.content {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 8px;
  text-align: left;
}

.actions button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

tr.selected {
  background-color: #d3d3d3;
}

input[type="checkbox"] {
  cursor: pointer;
}

.edit-button {
  background-color: rgb(91, 255, 115);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.edit-button:hover {
  background-color: rgb(0, 96, 14);
}

.delete-button {
  background-color: rgb(252, 73, 73);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.delete-button:hover {
  background-color: darkred;
}
